.card {
  height: 700px;
  width: 600px;
  color: #fff;
  margin: 2px;
  padding: 5px;
  border-radius: 6px;
  border: 2px solid black;
}

.card_front {
  background-color: rgb(104, 10, 104);
}

.card_back {
  background-color: rgb(43, 14, 43);
}

.card_button {
  margin: 2px;
}